*{
    padding: 0;
    margin: 0;
}
 
.addForm{
    max-width: 500px;
    height: 300px;
    border: 2px solid black;
    background-color: azure;
    padding: 50px;
    margin: 50px;
    display: flex;
    justify-content: space-between;
    position: relative;
    
}

.field p{
    padding: 5px;
    font-size: 35px;
}

.field input{
    height: 30px;
    padding: 0 10px;
}

.field select{
    width: 100px;
    height: 30px;
}

.btn{
    width: 100px;
    height: 40px;
    bottom: 10%;
    left: 15%;
    position: absolute;
    background-color: darkred;
    font-size: 30px;
}

#listConteiner{
    max-width: 730px;
    padding: 20px;
    border: 2px solid black;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.item{
    border: 2px solid black;
    padding: 5px;
    border-radius: 5px;
}